.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.reviews h1{
    color: #49557e;
    font-weight: 1000;
    font-size: 50px;
}

.reviews-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
}

.review-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    animation: fadeIn 2s;
    width: 300px; /* Set a fixed width for each review content */
}


.reviewer-image img {
    width: 80px;
    height: 80px; /* Ensure height and width are the same */
    border-radius: 50%; /* Makes the image a perfect circle */
    object-fit: cover; /* Ensures the image scales correctly within the circle */
}

.reviewer-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

.reviewer-text p{
    font-size: 20px;
    text-align: center;
    line-height: 1.3;
}