/* Header */
.header {
    height: 50vw; /* This defines the height of the header */
    background: url('../../assets/home.jpg');
    background-size: cover;
    position: absolute; /* Keep the header position absolute */
    top: 0;
    width: 100%;
    z-index: 1; /* Ensure it stays behind the navbar */
    background-attachment: fixed;
    background-position: center;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
    z-index: 1;
}

.header-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 10vw;
    z-index: 2;
    color: white;
}

.header-contents h2 {
    font-weight: 500;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}

/* Spacer element */
.header-spacer {
    height: 45vw; /* Same as the header height */
}