/* Navbar Container */
.navbar {
    position: sticky; /* Sticky navbar */
    top: 0; /* Stick to the top */
    width: 100%;
    z-index: 1000; /* Ensure it's on top of other content */
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent; /* Transparent background */
    backdrop-filter: blur(10px);
}

.navbar-logo img{
    width: 6vw;
    border-radius: 5px;
}

/* Burger Menu Icon */
.navbar-burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.burger-line {
    width: 25px;
    height: 3px;
    background-color: #73acea;
    border-radius: 3px;
    transition: 0.3s;
}

/* Menu Styling */
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px; /* Ensure font size */
}

.navbar-menu a, .navbar-logo a {
    color: #73acea; /* Ensure color */
    text-decoration: none; /* Remove underline */
    transition: color 0.2s;
}

.navbar-menu a:hover {
    color: #49557e; /* Hover color */
}

/* Close Button Styling */
.navbar-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #73acea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-close{
    display: none;
}

@media (max-width: 1100px){
    .navbar-logo img{
        width: 8vw;
        border-radius: 5px;
    }
}

/* Media Queries for Burger Menu */
@media (max-width: 750px) {
    .navbar-logo img{
        width: 16vw;
        border-radius: 5px;
    }

    .navbar-menu {
        display: none;
    }

    .navbar {
        backdrop-filter: none;
    }

    .navbar-burger {
        display: flex; /* Show burger menu */
    }

    .navbar-close{
        display: flex;
    }

    .navbar-close:hover {
        color: #49557e; /* Hover color */
    }

    .navbar-menu-container {
        position: fixed;
        top: 0;
        right: -250px; /* Hide off-screen initially */
        width: 250px; /* Adjust width as needed */
        height: 100%;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        transition: right 0.3s ease; /* Smooth transition */
        display: flex;
        flex-direction: column;
    }

    .navbar-menu-container.open {
        right: 0; /* Slide in from the right */
    }

    .navbar-menu-container .navbar-menu {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        gap: 40px;
    }

    .navbar-menu-container .navbar-menu a {
        display: inline;
        text-align: center;
    }

}

